
body {
    background-image: url("https://hargisa.neocities.org/Sample3-Business/img/DollarSignBackground.jpg")
    background-position: top, left, bottom, right;
    font-family: 'Markazi Text', serif;
    font-family: 'Lora', serif;
    padding: 15px;
   	}

/*want main text block of page to have background 
color of #e0ebeb pale green color*/

#wrapper {
	min-width: 80%; 
	margin:0 0 20px 20px;
  padding: 20px;
  overflow:hidden;
	}

header {
	background:#ffffb3; /*color pale yellow*/
	display: table;
  margin: auto;
	width: 90%;
	padding: 30px;
	border-radius: 15px;
	}

header h1 {
	font-weight: bold;
	font-size: 35px;
  text-align: center;
  width: 90%;
	color: #000;
	padding: 30px; 
 	}

  /*NEED review NAV COLORS*/
ul {
  list-style-type: none; 
  float: left;
  margin: auto;
  padding:30;
  width: 90%;
  overflow: hidden;
  background-color: #333333; /*color is charcoal-black*/
  border-radius: 15px;
  }

li {
  float: left
  }

li a {
  display: inline-block; 
  color: #f2f2f2; /*color is light gray*/
  text-align: center;
  padding: 30px;
  font-size: 20px;
  text-decoration: none;
  }

a.hover {
  background-color: #dddddd; /*color is med gray*/
  color: black;
  }

/*MAKE sure change each page to 
class="active" so will change colr*/
.active {
  background-color: #228B22; /*color is a forest green*/
  color: white;
  font-style: 700;
  }

.mainbody {
  display: table;
  width: 90%;
    }


.info {
    background-color: #B4EEB4; /*color is a mint green*/
    overflow: auto;
    padding: 15px;
    width: 25%;
    border-radius: 15px;
    margin-bottom: 10px;
    
   }

article {
   display: table-cell;
   padding: 15px;
   width: 40%;
   border-radius: 15px; 
   margin-bottom: 5px;
   background-color: #B4EEB4; /*color is a mint green*/
   }


h1 { 
  font-weight: bold;
  font-size: 28px;
  word-spacing: .2em;
  }

 h2{
 	font-weight: bold;
 	font-size: 26px;
  } 

#hand{
  float; left;
  margin: 5px
  }

 h3{ 
 	font-weight: bold;
 	font-size: 24px;
  }

 
footer {
   clear:both;
   padding: 30px;
   width: 90%;
   text-align: center; 
   border-radius: 15px;
   margin-bottom: 10px;
   background-color: #B4EEB4; /*color is a mint green*/
  }

 footer p { 
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  text-align: center; 
  flood-color: black;
  }
  



/* Responsive layout - when the screen is less than 1959px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 1050px) {
    

    /*NOTE at present do not have columns so keep or remove*/
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
      }
  }

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media only screen and (max-width: 400px) {
  
body { 
    margin: 0 18px 15px;
    background-color: #B4EEB4; /*color is a mint green*/
    border: 15px #228B22; /*color is a forest green*/
    padding: 25px;
   
 }



    .topnav a {
        float: none;
        width: 100%;
    }



}