
#dollarsigns {
	height: 30%;
	background-size: auto;
	background-position: top;
	background-repeat: no-repeat;
}
body {
	background-color: white;
	font-family: sans-serif;
	margin: 20px;
	}

#wrapper{
	
}

header h1{

}

h1 {
	font-weight: bold;
	font-size: 26px;
    text-align: center;
 }

 h2{
 	font-weight: bold;
 }
 h3{ 
 	font-weight: bold;

  }


/*NEED review NAV COLORS*/
.topnav {
  overflow: hidden;
  background-color: #333333; /*color is charcoal-black*/
  vertical-align: center;
}

.topnav a {
  float: left;
  color: #f2f2f2; /*color is light gray*/
  text-align: center;
  padding-left: 15px;
  padding-right: 16px;
  text-decoration: none;
  font-size: 35px;
}

.topnav a.hover {
  background-color: #dddddd; /*color is med gray*/
  color: black;
}

.topnav a.active {
  background-color: #228B22; /*color is a forest green*/
  color: white;
}
 

 footer { 
  font-size: .5em;
  font-weight: bold;
  font-style: italic;
  text-align: center; 
}
  