*{margin:0px; padding:0px;}


body, html {
    height: 100%;
}

.bg { 
    background-image: url("img/DollarSignBackground.jpg;");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	
body {
	background-color: #e0ebeb; 
	font-family: sans-serif;

/*want body of page to havebackground 
color of #e0ebeb pale green color*/
		}

#wrapper {
	min-width: 97.5%; 
	margin:0 auto; 
	overflow:hidden;
	}

header {
	background:#000;
	display: table;
	width: 90%;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	}

header h1 {
	font-weight: bold;
	font-size: 26px;
    text-align: center;
    display: table-cell;
	width: 60%;
	color:#fff;
	padding: 5px 10px 5px 10px; 
 	}

 h2{
 	font-weight: bold;
 	font-size: 24px;
 } 

 h3{ 
 	font-weight: bold;
 	font-size: 22px;

  }

/*NEED review NAV COLORS*/
.topnav {
  overflow: hidden;
  background-color: #333333; /*color is charcoal-black*/
  vertical-align: center;
}

.topnav a {
  float: left;
  color: #f2f2f2; /*color is light gray*/
  text-align: center;
  padding-left: 15px;
  padding-right: 16px;
  text-decoration: none;
  font-size: 35px;
}

.topnav a.hover {
  background-color: #dddddd; /*color is med gray*/
  color: black;
}

.topnav a.active {
  background-color: #228B22; /*color is a forest green*/
  color: white;
}
 

 footer { 
  font-size: 10em;
  font-weight: bold;
  font-style: italic;
  text-align: center; 
}
  